<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Paper Wallets</title>
    <style type="text/css">
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
	        margin: 0;
	        padding: 0;
	        border: 0;
	        font-size: 100%;
	        font: inherit;
	        vertical-align: baseline;
        }

        .page {
            width: 210mm;
            height: 297mm;
            margin: 20mm 5mm 20mm 5mm; 
        }

        .rowUp {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 10mm;
            height: 25%;
            width: 100%;
            background-color: cornflowerblue;
        }

        .row {
            display: flex;
            flex-direction: row;
            height: 25%;
            width: 100%;
            background-color: darkkhaki;
        }

        .rowDown {
            display: flex;
            flex-direction: row;
            margin-bottom: 10mm;
            height: 25%;
            width: 100%;
            background-color: hotpink;
        }

        .column {
            display: flex;
            font-size: 3em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
    <body>
        <div class="page">
            <div class="row">
            {{#each keys as |key|}}
                <div class="column">
                    <p>{{key.public}}</p>
                    <p>{{key.private}}</p>
                </div>
            {{/each}}
            </div>
        </div>
    </body>
</html>